@model Status
<form method="post">
    <div>
        <label>Id</label>
        <input type="number" readonly asp-for="Id"/>
    </div>
        <div>
        <label>Name</label>
        <input type="text" asp-for="Name"/>
    </div>
    <div>
        <button>Save Change</button>
    </div>
</form>