@model RegisterModel
<form method="post">
    <div>
        <label>Username</label>
        <input type="text" asp-for="Username" />
    </div>
    <div>
        <label>Password</label>
        <input type="text" asp-for="Password" />
    </div>
    <div>
        <label>Email</label>
        <input type="text" asp-for="Email" />
    </div>
    <div>
        <button>Register</button>
    </div>
</form>